.users_list {
  color: rgba(203, 211, 214, 0.64);
  overflow-y: auto;
}

.users_list::-webkit-scrollbar {
  width: 5px;
  background-color: #3e4957;
}

.users_list::-webkit-scrollbar-thumb {
  background-color: #2d3443;
}

.users_list_item {
  display: flex;
  align-items: center;
  margin-bottom: 7px;
}

.users_list_item > img {
  width: 30px;
  border-radius: 50%;
  margin-right: 5px;

}

.selectedUser {
  color: #7f5652;
}
