.logo {
  display: flex;
  align-items: end;
  width: max-content;
  height: max-content;
  padding: 10px;
  color: #b3bac6;
  font-style: italic;
  text-decoration: none;
}

.logo_fima {
  font-size: 10px;
  padding-right: 3px;
  margin-bottom: 4px;
}

.logo_esa {
  font-size: 20px;
}
