.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_title {
  margin-right: 10px;
  font-size: 1.8em;
  font-variant: all-petite-caps;
  font-style: italic;
  background: linear-gradient(250deg, rgba(198, 204, 202, 0.24), rgba(198, 204, 202, 0.45), rgba(198, 204, 202, 0.24));
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textFlow 5s linear infinite;
}

@keyframes textFlow {
  from {
    background-position: 0 center
  }
  to {
    background-position: 200% center
  }
}
