.search {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.search_row {
  display: flex;
}

.search_input,
.btn_find,
.btn_reset {
  border: none;
  color: #161b25;
}

.btn_find,
.btn_reset {
  cursor: pointer;
}

.search_input {
  width: 160px;
  background-color: #e5e5d3;
}

.btn_find {
  margin-left: 5px;
  background-color: #f54b29;
}

.btn_find:disabled {
  background-color: rgb(199, 133, 103);
  cursor: no-drop;
}

.btn_reset {
  background-color: #e5e5d3;
}
