* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Geneva, Arial, Helvetica, sans-serif;
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
